{% extends 'base.html'%}

{% load static %}

{% block content %}
    <div class="container">
      <div class="body-part">
        <div class="left-side">
          <div class="inside">
            <!-- <h1>Welcome </h1> -->
            <h4> our restaurant was born from a shared love for culinary creativity and a commitment to providing exceptional service. From humble beginnings, we've grown into a beloved dining destination, known for our dedication to quality, innovation, and hospitality.</h4>
          </div>
          
        </div>
        <div class="right-side">
            <img class="pic" src="{% static '/image/images.jpg'%}" alt="side_pic">
        </div>
      </div>
    </div>
      
     
    {% endblock %}